<h1>Listing features</h1>

<table class="altrowstable" id="alternatecolor">
<th> <b>Feature</b></th>
<th colspan="3">Options</th>
<% for feature in @features  %>
<tr class="<%= cycle('even', 'odd')%>" >
    <td><%=   feature.name %></td>
    <td><%= link_to 'Show', feature %></td>
    <td><%= link_to 'Edit', edit_feature_path(feature) %></td>
    <td><%= link_to 'Destroy', feature, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New feature', new_feature_path %>
