
         <div align="left">
			ID: <%= @feature.id%> <br><br>
			
			Feature:  <%= @feature.name%><br><br>
			<% if !@feature.albums == nil%>
			<p>Album Containing this Features are</p>
			<% for albums in @feature.albums %>
				<u><br><b><%= link_to albums.tittle,:action => 'show',:controller => 'albums', :id => albums.id %></b></u>	
				,  <u>  <b><%= link_to albums.artist.name,:action => 'show',:controller => 'artists', :id => albums.artist.id %></b></u>
			<% end %>
	        <%#= @feature.albums.collect{|obj| obj.tittle + "<br>"} if !@feature.albums.empty? -%><br><br>			
			<% end %>
			<%= link_to 'Edit', edit_feature_path(@feature) %> |
			<%= link_to 'Back', features_path %>
		</div>


